body {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation_bar {
    width: 100%;
    height: 80px;
    background-color: #e4e4e4;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    width: 1200px;
    font-size: 20px;
    font-weight: 700;
    color: #7c7c7c;
}

#main_container {
    width: 1200px;
    flex-grow: 1; /* 부모 영역중 나머지 자식들이 차지한 영역을 제외한 전체 */
    background-color: #ffffff;
    padding: 60px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#back_btn {
    width: 115px;
    height: 35px;
    font-size: 20px;
    padding: 0;
    text-align: start;
    font-weight: 700;
    color: #7744ff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#back_btn:hover {
    transform: translateY(-2px);
}

#title_box > div:nth-child(1) {
    display: flex;
    justify-content: start;
    gap: 15px;
}

#title_box > div:nth-child(1) > div {
    color: #7744ff;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #e5dcff;
}

#title_box > div:nth-child(2) {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

#line {
    height: 4px;
    background-color: #7744ff;
}

#content_box {
    font-size: 20px;
    font-weight: 400;
    color: #1e1e1e;
}
